body {
  margin: 0;
  padding: 0;
  background-image: url("unsplash.jpg");
}
  
  .page {
    background-image: url("unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 99.2vh;
    /* padding-top: 5px; */
  }  
  .border{
    }
.main{
 
}
#log{
    text-align: center;
}
#signup{
    text-align: center;
}
#signup a{
    color: rgb(135, 28, 171);
}
#forget a{
    margin-left: 10px;
    color: rgb(255, 255, 255);
}
#fb a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 280px;
    height: 35px;
    border-radius: 15px;
    background-color:#3b5998;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
  }
#fb p {
    margin-left: 20px;
  }
#go a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 280px;
    height: 35px;
    border-radius: 15px;
    background-color:#eae9e9;
    margin-left: 25px;
    margin-top: 10px;
    color: black;
}
#go p {
    margin-left: 20px;
  }
      
    .line:before,
    .line:after {
        content: "";
        flex: 1 1;
        height: 0px;
        border: 1.5px solid #c5c3c3 ;
        margin: 10px 5px 0px 5px;
    }
    
    #email{
        width: 280px;
        height: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin: 20px 10px 0px 10px;
        border: none;
        border-bottom: 1px solid #838383;
        background-color: rgba(20, 17, 17, 0.5);
        outline: none;
    }
      
    #email::placeholder{
        color: #bdbdbd;
    }
    #password{
        width: 280px;
        height: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin: 10px 10px 0px 10px;
        border: none;
        border-bottom: 1px solid #bdbdbd;
        background-color: rgba(20, 17, 17, 0.5);
        outline: none;
    }
      
    #password::placeholder{
        color: #bdbdbd;
    }
    #login {
        padding: 10px 20px;
        width: 250px;
        margin-left: 35px;
        margin-right: 35px;
        background-color: rgb(157, 28, 171);
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
    }
    #forget{
        margin-left: 10px;
    }
    #forget a{
        margin-left: 0px;
        color: rgb(227, 104, 255);
    }